<!doctype html>
<html>

    <head>
        <!-- Metadados -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="formulario.css" media="screen">

        <!-- Título da página (aparece na aba) -->
        <title>Cadastro</title>
    </head>

    <body> 

        <!-- Cabeçalho com título e subtítulo (ambos com css de id "titulo") -->
        <div>
            <h1 id="titulo">Reclamação e Sugestão</h1>
            <p id="subtitulo">Preencha as informações</p>
            <br>
        </div>

        <!-- Início do formulário -->
        <form>

            <fieldset class="grupo">
                <!-- Campo do nome com legenda "nome" e css de classe "campo" -->
                <div class="campo">
                    <label for="nome"><strong>Nome</strong></label>
                    <input type="text" name="nome" id="nome" required>
                </div>

                <!-- Campo do sobrenome com legenda "sobrenome" e css de classe "campo" -->
                <div class="campo">
                    <label for="sobrenome"><strong>Sobrenome</strong></label>
                    <input type="text" name="sobrenome" id="sobrenome" required>
                </div>
            </fieldset> 

            <!-- Campo de email com-->
            <div class="campo">
                <label for="email"><strong>Email</strong></label>
                <input type="email" name="email" id="email" required>
            </div>

            <!-- Campo de desenvolvimento web com 3 opções de botões selecionáveis (radio button) e css de classe "campo" -->
            <div class="campo">
                <label><strong>Qual bloco você mora?</strong></label>
                <label>
                    <input type="radio" name="devweb" value="bloco1" checked>Bloco 1
                </label>
                <label>
                    <input type="radio" name="devweb" value="bloco2">Bloco 2
                </label>
                <label>
                    <input type="radio" name="devweb" value="bloco3">Bloco 3
                </label>
            </div>

            <!-- Campo de prioridade com 3 opções para escolha (select option) e css de classe "campo" -->
            <div class="campo">
                <label for="Prioridade"><strong>Prioridade da Reclamação</strong></label>
                <select id="Prioridade" required>
                  <option selected disabled value="">Selecione</option>
                  <option>Baixa</option>
                  <option>Médio</option>
                  <option>Alto</option>
                </select>
            </div>

            <fieldset class="grupo">
                <!-- Campo de problema para escolha de 1 ou mais opções para marcar (checkbox) e css de classe "campo" -->
                <div id="check">
                    <label><strong>Selecione o tipo de problema:</strong></label><br><br>
                    <input type="checkbox" id="problema1" name="problema1" value="Barulho">
                    <label for="problema1"> Barulho</label>
                    <input type="checkbox" id="problema2" name="problema2" value="Estrutural">
                    <label for="problema2"> Estrutural</label>
                    <input type="checkbox" id="problema3" name="problema3" value="Politica do Condominio">
                    <label for="problema3"> Politica do Condominio</label>
                    <input type="checkbox" id="problema4" name="problema4" value="Dúvidas">
                    <label for="problema4"> Dúvidas</label>
                    <input type="checkbox" id="tproblema5" name="problema5" value="Sugestão">
                    <label for="problema5"> Sugestão</label>
                    <input type="checkbox" id="problema6" name="problema6" value="Reclamação">
                    <label for="problema6"> Reclamação</label>
                    <input type="checkbox" id="problema7" name="problema7" value="Outro">
                    <label for="problema7"> Outro</label>
                </div>
            </fieldset>

            <!-- Caixa de texto -->
            <div class="campo">
                <br>
                <label for="experiencia"><strong>Por favor, descreva os detalhes: </strong></label>
                <textarea rows="6" style="width: 26em" id="experiencia" name="experiencia"></textarea>
            </div>

            <!-- Botão para enviar o formulário -->
            <button class="botao" type="submit" onsubmit="">Concluído</button>            

        </form>

    </body>

</html>




