<!DOCTYPE html>
<html lang="en">
    
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>CSS Grid Responsive Site</title>
</head>

<body>
    <!-- Header Showcase -->
    <header id="showcase" class="grid">
        <div class="bg-image"></div>
        <div class="content-wrap">
            <h1>Seja bem Vindo ao Info Condominio</h1>
            <p>Aqui você vai encontrar toda facilidade para realizar a comunicação adequada com a gestão, além de ter na palma da mão todas as informações do condominio..</p>
            <a href="#section-b" class="btn">Veja Mais</a>
        </div>
    </header>

    <!-- Main Area -->
    <main id="main">
        <!-- Section A -->
        <section id="section-a" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">Gestão de Informação do Condominio URGENTE</h2>
                <div class="content-text">
                    <p>A CPFL notificou que o bairro ficará sem energia no periodo da manhã no dia 10/12/2021.</p>
                    <p>Cuidado ao sair do condominio, fique atento a movimentação externa.</p>
                </div>
            </div>
        </section>

        <!-- Section B -->
        <section id="section-b" class="grid">
            <ul>
                <li>
                    <div class="card">
                        <img src="C:\Users\marlon_melo\Univesp_html_css\parabens.jpg" alt="">
                        <div class="card-content">
                            <h3 class="card-title">Parabéns a todos</h3>
                            <p>No mês de dezembro tivemos uma redução significativa na conta de luz e água, vamos continuar com a sustentabilidade  ..</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <img src="C:\Users\marlon_melo\Univesp_html_css\elevador.jpg" alt="">
                        <div class="card-content">
                            <h3 class="card-title">ATENÇÃO</h3>
                            <p>Os elevadores estarão em manutenção na próxima semana, usem as escadas por favor.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <img src="C:\Users\marlon_melo\Univesp_html_css\novidade1.jpg" alt="">
                        <div class="card-content">
                            <h3 class="card-title">Central da Informação</h3>
                            <p>Para ter mais informações sobre a politica do condominio, ou para fazer alguma reclamação.</p>
                            <p><a href="C:\Users\marlon_melo\Univesp_html_css\Politicas.html">Clique aqui</a></p>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

        <!-- Section C -->
        <section id="section-c" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">FIQUE ATENTO AOS PRAZOS DAS ELEIÇÕES</h2>
                <p>Iremos trocar de sindico, as eleições será no dia 10/12/2021. Contamos com a participação de todos para esse momento importante em nosso condominio</p>
            </div>
        </section>

        <!-- Section D -->
        <section id="section-d" class="grid">
            <div class="box">
                <h2 class="content-title">Fale com o sindico</h2>
                <p>Precisa de ajuda com algo, e quer falar com o sindico, entre com contato por telefone: (11)99999-9999. Nós temos o nosso forms no site, acesse para ter mais informações.</p>
                <p>teste@teste.com.br</p>
            </div>
            <div class="box">
                <h2 class="content-title">O Condomino</h2>
                <p>O condominio a arte é maravilhosa, está localizado em uma área muito legal, com vários acessos as principais vias da cidade, e com um amplo comercio a disposição. Com certeza a sua experiência em morar nesse local será incrível.</p>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer id="main-footer" class="grid">
        <div>Condominio Arte Maravilhosa</div>
        <div>Project By <a href="../../traversymedia.com/index.html" target="_blank">PI Univesp 2021</a></div>
    </footer>

</body>


<!-- Mirrored from jolly-kalam-23776e.netlify.app/cssgridresponsive/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Nov 2021 02:18:43 GMT -->
</html>