header {
	background: #e2e2e5;
	padding: 20px 0;
}
.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 65px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #c78c19;
	text-decoration: underline;
}

.politica {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;

}

.politica li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px 20px 30px 40px;
}

.politica li:hover {
	border-color: #c78c19;
}

.politica li:active {
	border-color: #088c19;
}

.politica li:hover h2 {
	font-size: 25px;
}


.politica h2 {
	font-size: 20px;
	font-weight: bold;
}

.politica-descricao {
	font-size: 18px;

}

.doc {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: #ffffff;
	padding: 0px 0;
}

