<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Politica do condominio</title>
	<link rel="stylesheet" href="reset.css">
	<link rel = "stylesheet" href="politica.css">
</head>
<body>
	<header>
		<div class="caixa">
			<h1><img src="infocondominio2.png"></h1>
			<nav>
				<ul>
					<li><a href="C:\Users\marlon_melo\Univesp_html_css\univesp\univesp2021\index.html">Home</a></li>
					<li><a href="Politicas.html">Politica</a></li>
					<li><a href="formulario.html">Formulário SAC</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<main>
		<ul class="politica">
			<li>
				<h2>Politica de uso da Piscina</h2>
				<img src="Piscina.png">
				<p class="politica-descricao">Quais são as regras da piscina?</p>
				<p class="doc"><a href="https:www.google.com.br">Veja Aqui</a></p>
			</li>
			<li>
				<h2>Controle das Vagas de estacionamento</h2>
				<img src="carro.jpg">
				<p class="politica-descricao">Veja como funciona o controle de Vagas</p>
				<p class="doc"><a href="https:www.google.com.br">Veja Aqui</a></p>
			</li>
			<li>
				<h2>Valores gastos no mês</h2>
				<img src="gasto1.png">
				<p class="politica-descricao">Valores gastos no condominio</p>
				<p class="doc"><a href="https:www.google.com.br">Veja Aqui</a></p>
			</li>
		<ul>
	</main>

	<footer>
		<img src="infocondominio2.png">
		<p>Copyright Info Condominio</p>
	</footer>
</body>
</html>
